.pr {
  width: 527px;
  border: 1px solid #bbb;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 0px;
  margin-bottom: 100px;
  padding:25px;
  float: left;
}

.pr2 {
  width: 300px;
  border: 1px solid #bbb;
  margin: 10px;
  float: left;
  height: 320px;
}